<div class="containerTit">
    <h1 class="tit">
    DETALLE DEL PRODUCTO
    </h1>
</div>
<div class="container">

    <div class="containerCard">
        <div class="card">
            <img src="{{this.product.thumbnail}}">
            <p class="title">{{this.product.title}}</p>
            <p >{{this.product.description}}</p>
            <p>CODIGO: {{this.product.code}}</p>
            <p>STOCK: {{this.product.stock}}</pass=>
            <p >{{this.product.category}}</p>
            <p class="price">PRECIO: $ {{this.product.price}}</p>

            <button class="button btnAdd" onclick="addToCart(`{{this.product._id}}`)" >AGREGAR AL CARRITO</button>
        </div>
    </div>

</div>

<script src="/js/home.js"></script> 